<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DDpage.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
          <filter type=""/>
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <customErrors mode="Off"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <appSettings>
    <!--公共通用配置 -->
    <!--当前站点的weburl地址，地址中的最后不能省掉 "/" -->
    <add key="webUrl" value="http://218.3.207.5:76/"/>
    <!--企业对接所需要的配置文件-->
    <!--<add key="E.AgentID" value="270535488"/>
    <add key="E.AppKey" value="dingvjynzpl7dllddhnn"/>
    <add key="E.AppSecret" value="n0Izk3FQbD55rZE56X5PWvOpXYsQrbbTiLK5IAHMQ8_8n_0DgwUXV82Va9d5zK7Y"/>-->
    <add key="E.AgentID" value="276594895"/>
    <add key="E.AppKey" value="dinginkcscgychixztbs"/>
    <add key="E.AppSecret" value="_G-kUrgJu9tRMsroW-uZ8IbZatd9_LHbogOGjYMOTF73_H4FD83s0PctU7_eDQ_c"/>
    <add key="E.CorpId" value="ding2c79175966a6abea35c2f4657eb6378f"/>
    <add key="E.CorpSecret" value="n0Izk3FQbD55rZE56X5PWvOpXYsQrbbTiLK5IAHMQ8_8n_0DgwUXV82Va9d5zK7Y"/>
    <!--ISV对接所需要的配置文件-->
    <add key="ENCODING_AES_KEY" value="y4ipyv5hsip5y0ado7byunagpkvm5cv4bq9f1kqqzqu"/>
    <!-- 初次使用回调url验证有效性这里的值是  suite4xxxxxxxxxxxxxxx -->
    <add key="SUITE_KEY" value="suitex3iapsh4ezpbj4wg"/>
    <add key="SUITE_KEY_SECRET" value="dDaUdBGQX6RLaVbKZi4qQ8AV__4JrpPH_8UXTWHIysK7nl6FrS6lH3RP_En0VwAm"/>
    <add key="ENCODING_AES_KEY" value="t6bidxwi58u2ln5ssosyh9wam109b77kl35h4gl8ppe"/>
    <add key="Token" value="hwxxkj"/>
  </appSettings>
  <!--<system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SI_ZPP_MATERIAL_REQBinding" />
        <binding name="SI_ZPP_MATERIAL_REQBinding1">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.0.194:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_LIMS_DEV&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZPP_MATERIAL_REQ&amp;interfaceNamespace=http%3A%2F%2Fwww.kocel.com%2Flims%2Fzpp_material_req"
        binding="basicHttpBinding" bindingConfiguration="SI_ZPP_MATERIAL_REQBinding"
        contract="ServiceMaterialConfirm.SI_ZPP_MATERIAL_REQ" name="HTTP_Port" />
      <endpoint address="https://192.168.0.194:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_LIMS_DEV&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZPP_MATERIAL_REQ&amp;interfaceNamespace=http%3A%2F%2Fwww.kocel.com%2Flims%2Fzpp_material_req"
        binding="basicHttpBinding" bindingConfiguration="SI_ZPP_MATERIAL_REQBinding1"
        contract="ServiceMaterialConfirm.SI_ZPP_MATERIAL_REQ" name="HTTPS_Port" />
    </client>
  </system.serviceModel>-->
  <applicationSettings>
    <DDpage.Properties.Settings>
      <setting name="DDpage_KmrAppMatChWebReference_SI_ZPP_MATERIAL_REQService"
        serializeAs="String">
        <value>http://podev1:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_LIMS_DEV&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZPP_MATERIAL_REQ&amp;interfaceNamespace=http%3A%2F%2Fwww.kocel.com%2Flims%2Fzpp_material_req</value>
      </setting>
      <setting name="DDpage_Get_KmrStorage_PlanList_SI_ZPP_RESB_SenderService"
        serializeAs="String">
        <value>http://poprd1:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_LIMS_PRD&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZPP_RESB_Sender&amp;interfaceNamespace=http%3A%2F%2Fwww.kocel.com%2Flims%2Fzpp_resb</value>
      </setting>
      <setting name="DDpage_SendToLineLib_KmrSendMatService" serializeAs="String">
        <value>http://192.168.0.234:8090/Storage/KmrSendMatService.asmx</value>
      </setting>
      <setting name="DDpage_KmrAppComPick_SI_ZPP_GOODSMVTService" serializeAs="String">
        <value>http://poprd1:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_LIMS_PRD&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZPP_GOODSMVT&amp;interfaceNamespace=http%3A%2F%2Fwww.kocel.com%2Flims%2Fzpp_goodsmvt</value>
      </setting>
      <setting name="DDpage_KmrAppMatCreateRsNo_SI_ZPP_RESERVATION_CREATE_SenderService"
        serializeAs="String">
        <value>http://poprd1:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_LIMS_PRD&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZPP_RESERVATION_CREATE_Sender&amp;interfaceNamespace=http%3A%2F%2Fwww.kocel.com%2Flims%2Fzpp_reservation_create</value>
      </setting>
      <setting name="DDpage_KmrAppMatPick_SI_ZPP_MATERIAL_REQService"
        serializeAs="String">
        <value>http://poprd1:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_LIMS_PRD&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZPP_MATERIAL_REQ&amp;interfaceNamespace=http%3A%2F%2Fwww.kocel.com%2Flims%2Fzpp_material_req</value>
      </setting>
      <setting name="DDpage_Get_KmrApp_PurOrder_SI_ZDM_EKESService"
        serializeAs="String">
        <value>http://poprd1:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_LIMS_PRD&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZDM_EKES&amp;interfaceNamespace=http%3A%2F%2Fwww.kocel.com%2Flims%2Fzdm_ekes</value>
      </setting>
      <setting name="DDpage_Post_KmrApp_CheckIn_SI_ZPP_GOODSINVOCHERService"
        serializeAs="String">
        <value>http://poprd1:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_LIMS_PRD&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZPP_GOODSINVOCHER&amp;interfaceNamespace=http%3A%2F%2Fwww.kocel.com%2Flims%2Fzpp_goodsinvocher</value>
      </setting>
      <setting name="DDpage_Post_KmrApp_OutComCostPick_SI_ZPP_GOODSMVT_201Service"
        serializeAs="String">
        <value>http://poprd1:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_LIMS_PRD&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZPP_GOODSMVT_201&amp;interfaceNamespace=http%3A%2F%2Fwww.kocel.com%2Flims%2Fzpp_goodsmvt_201</value>
      </setting>
      <setting name="DDpage_Get_KmrApp_Inventory_SI_ZDM_INVENTORY_SenderService"
        serializeAs="String">
        <value>http://poprd1:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_LIMS_PRD&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZDM_INVENTORY_Sender&amp;interfaceNamespace=http%3A%2F%2Fwww.kocel.com%2Flims%2Fzdm_inventoryinf</value>
      </setting>
      <setting name="DDpage_Post_KmrApp_ComResearchPick_SI_ZPP_GOODSMVT_Z04Service"
        serializeAs="String">
        <value>http://poprd1:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_LIMS_PRD&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZPP_GOODSMVT_Z04&amp;interfaceNamespace=http%3A%2F%2Fwww.kocel.com%2Flims%2Fzpp_goodsmvt_z04</value>
      </setting>
      <setting name="DDpage_ProductOrderYuLiu_ZZXPRODUCTRESB" serializeAs="String">
        <value>http://192.168.12.42:8001/sap/bc/srt/rfc/sap/zzxproductresb/800/zzxproductresb/zzxproductresb</value>
      </setting>
      <setting name="DDpage_InTimeStock_ZXREALTIMESTORE" serializeAs="String">
        <value>http://192.168.12.42:8001/sap/bc/srt/rfc/sap/zxrealtimestore/800/zxrealtimestore/zxrealtimestore</value>
      </setting>
      <setting name="DDpage_PlanIn_ZZXPLAN" serializeAs="String">
        <value>http://192.168.12.42:8001/sap/bc/srt/rfc/sap/zzxplan/800/zzxplan/zzxplan</value>
      </setting>
      <setting name="DDpage_PlanOut_ZZXNOPLAN" serializeAs="String">
        <value>http://192.168.12.42:8001/sap/bc/srt/rfc/sap/zzxnoplan/800/zzxnoplan/zzxnoplan</value>
      </setting>
      <setting name="DDpage_CoastCenter_ZZXKOSTL201" serializeAs="String">
        <value>http://192.168.12.42:8001/sap/bc/srt/rfc/sap/zzxkostl201/800/zzxkostl201/zzxkostl201</value>
      </setting>
      <setting name="DDpage_InnerOrder_ZZXMOVEORDER" serializeAs="String">
        <value>http://192.168.12.42:8001/sap/bc/srt/rfc/sap/zzxmoveorder/800/zzxmoveorder/zzxmoveorder</value>
      </setting>
      <setting name="DDpage_PoRuku_ZPOMIGO" serializeAs="String">
        <value>http://192.168.12.42:8001/sap/bc/srt/rfc/sap/zpomigo/800/zpomigo/zpomigo</value>
      </setting>
      <setting name="DDpage_PO_ZZX_GETPO" serializeAs="String">
        <value>http://192.168.12.42:8001/sap/bc/srt/rfc/sap/zzx_getpo/800/zzx_getpo/zzx_getpo</value>
      </setting>
      <setting name="DDpage_YiKu311_ZMOVE311" serializeAs="String">
        <value>http://192.168.12.42:8001/sap/bc/srt/rfc/sap/zmove311/800/zmove311/zmove311</value>
      </setting>
      <setting name="DDpage_GetSapProductOrder_ZZX_GETORDERCONFIRM"
        serializeAs="String">
        <value>http://192.168.12.42:8001/sap/bc/srt/rfc/sap/zzx_getorderconfirm/800/zzx_getorderconfirm/zzx_getorderconfirm</value>
      </setting>
    </DDpage.Properties.Settings>
  </applicationSettings>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>